@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css");

* {
  font-family: 'NanumBarunGothic', sans-serif;
  word-break: keep-all;
}

@media (min-width:600px) {
  .Error {
      max-width: 500px;
      width: 100%;
      margin:0 auto;
  }
}

.Error_img {
  display: inline-block;
  height: 100px;
  width: 80px;
  vertical-align: -100%;
  margin-top: 30px;
}

.Error_h1_404 {
  display: inline-block;
  position: relative;
  margin-top: 10%;
  color: red;
}

.Error_h5_404 {
  display: inline-block;
  position: relative;
  margin-top: 5%;
  color: orange;
  margin-left: 10px;
}

.Error_h2 {
  display: inline-block;
  position: relative;
  margin-top: 10%;
  margin-left: 10px;
  color: rgb(77, 77, 77)
}

.Error_h2_page {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 10px;
}

.Error_h5{
  line-height: 0em;
  font-weight: 400;
  color: gray;
  margin-left: 10px;
}

.Error_h5_back{
  display: inline-block;
  margin-top: 5%;
  color: orange;
  margin-left: 40px;
}


