@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css");

* {
  font-family: 'NanumBarunGothic', sans-serif;
  word-break: keep-all;
}

@media (min-width:800px) {
  .div_login, .div_loginbtn, .bar, .div_login_letter {
      max-width: 400px;
      width: 100%;
      margin:0 auto;
  }
}

.Login {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 5%;
}

.login_letter {
  display: inline-block;
  text-align: left;
}

#login_logo {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.div_login {
  position: relative;
  border: 2px black;
  padding-bottom: 10px;
}

.input_login:hover, .input_login:focus {
  border: 2px solid black;
}

.input_login:focus {
  border: 2px solid black;
}

.input_login {
  width: calc(100% - 75px);
  height : 40px;
  padding-left: 70px;
  text-transform: lowercase;
}

.login_label {
  position: absolute;
  left: 15px;
  top : 15px;
  font-size: 0.8em;
}

.btn_login, .btn_signup {
  border-radius: 5px;
  display: inline-block;
  height: 40px;
  width: calc(50% - 2.5px);
  color: white;
  background-color:rgba(255, 68, 0, 0.863);
  border: 2px rgba(255, 68, 0, 0.863);
  font-size: 1em;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 30px;
}

.btn_login {
  margin-right: 2.5px;
}

.btn_signup {
  margin-left: 2.5px;
}

.div_error {
  color: red;
  font-size: 0.8em;
  padding-left: 5px;
  padding-top: 10px;
}

.easy_login_text {
  display: inline-block;
  padding-left: 5px;
  margin-top: 20px;
  margin-bottom: 55px;
  font-size: 0.8em;
  color: gray;
}

.bar {
  height: 1.5px;
  width: 100%;
  background-color: gray;
}

.pass_find {
  padding-left: 5px;
  padding-top: 10px;
  display: inline-block;
  font: bolder;
  font-size: 0.9em;
  font-weight: 700;
}

#pass_find {
  padding-right: 5px;
  float: right;
}

.sns_img {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  margin-right: 20px;
}