@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css");

* {
  font-family: 'NanumBarunGothic', sans-serif;
  word-break: keep-all;
}

@media (min-width:800px) {
  .PassChange {
      max-width: 400px;
      width: 100%;
      margin:0 auto;
  }
}


.login_letter {
  display: inline-block;
  text-align: left;
}

#Hi_logo {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.div_passchange {
  position: relative;
  border: 2px black;
  padding-bottom: 10px;
}

#div_passchange_letter{
  margin-top: 10%;
  text-align: center;
  margin-right: 10px;
}

.passchange_letter {
  margin-left: 10px;
}

.input_passchange:hover, .input_passchange:focus {
  border: 2px solid black;
}

.input_passchange:focus {
  border: 2px solid black;
}

.input_passchange {
  display: inline-block;
  width: calc(100% - 130px);
  height : 40px;
  padding-left: 70px;
  margin-right: 10px;
  text-transform: lowercase;
}

.passchange_label {
  position: absolute;
  left: 15px;
  top : 15px;
  font-size: 0.8em;
}

.btn_passchange {
  border-radius: 20px;
  display: inline-block;
  height: 40px;
  width: 40px;
  color: white;
  background-color:orange;
  border: 2px orange;
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 30px;
  vertical-align: -10%;
}

.div_error {
  color: red;
  font-size: 0.8em;
  padding-left: 5px;
  padding-top: 10px;
}